 // llamo el archivo de variables

 @import "./_utilidades.scss/variables"; 
@import "./_utilidades.scss/mixin";

*{
  margin: 0px;
  padding: 0px;

}

body{
    background-color: $color-principal;
   flex-wrap: wrap;
   display: flex;
   
   }
   
   header{
   background-color: $color-principal;
   flex-wrap: wrap;
   display: flex;
   
    img{
   display: flex;
   width: 100%;
  }
 
  }
   
   main{
display: grid;
   justify-content: center;
   
   p{
   color: #3b3a38;
   font-size: 40px;
   column-gap: 10px;
   text-align: center;
   font-weight: bold;
   margin: 5%;
   }

   h1{
       color: $color-secundario;
       font-family: Arial, Helvetica, sans-serif;
       font-style: italic;
       text-align: center;
       font-weight: bold;
       margin: 5%;
      
   }
  
   }
   
.info-contenedor{
  h2{
    display: flex;
    flex-wrap: wrap;
        color: rgb(63, 60, 60);
        margin:0px 10%;
        text-align: center;
        text-decoration: none;
  }
}

   .contenedor{
   display: flex;
   justify-content: center;
   
      img{
       display: flex;
       width: 90%;
       height: 70%;
       flex-wrap: wrap; 
   } 

   }
   
   section{
       display: flex;
      
       img{
        display: flex;
        flex-wrap: wrap;
      margin: 10px;
       width: 15%;
        
       }
       h2{
        display: grid;
        background-color: $color-principal;
        color: rgb(63, 60, 60);
        margin: 50px;
        border: solid 3px rgb(82, 80, 78);
        text-align: center;
       
       }
     
   }

   h4{
    display: flex;
  margin: 15px;
   } 

   .info-nosotras{
    display: grid;
    background-color: $color-principal;
    color: rgb(63, 60, 60);
    margin: 50px;
    text-align: center;
  h3{
      display: grid;
      background-color: $color-principal;
      color: rgb(63, 60, 60);
      text-align: center;
  }
   
}

 h2{
     color: $color-secundario;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            text-align: center;
            font-weight: bold;
           margin: 50px;
        
}

footer { 
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  margin: 50px; 
  width: 100%;
   padding: 20px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(63, 60, 60);
  background-color:#ffb662;

a{
  display: flex;
  padding: 20px;
  display: inline-block;

}
}

.productos-info{
  display: flex;
  flex-wrap: wrap;
}

@import "./html/productos";

