
   //Estilos de pages

   .contenedor-portada{
    flex-wrap: wrap;
   
    img{
       display: flex;
       width: 100%
    }
   h1{
       color: #5e5955;
       font-size: 20px;
       font-family: Arial, Helvetica, sans-serif;
       font-style: italic;
       text-align: center;
       font-weight: bold;
       margin-top: 50px;
      
   }
      }
   
   .info-contenedor{
      display: flex;
       flex-wrap: wrap;
        background-color: #f3be81;
        padding: 5px;
        
       
       div{
       
        display: inline block; 
       color: rgb(90, 49, 49);
        margin: 4%;
        padding: 5px;
        align-items: first baseline;
        display: inline block; 
       }
        img{
       display: flex;
        width: 10%;
        height:80%;
        }
       
   } 
       .productos-info{
          
          display: flex;
           background-color: #f3be81;
           color: rgb(63, 60, 60);
           margin: 50px;
           padding: 20px;
           border: solid 3px rgb(82, 80, 78);
           
          }
   
   
       
   
   
   
   